name: Backend Docker container CICD

on:
  push:
    branches: [ "main" ]
    paths: ['backend/**']

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'graalvm'
          cache: maven

      - name: Build with Maven
        env:
          DB_USER: ${{ secrets.DB_USER }}
          DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
        run: mvn -B package --file backend/pom.xml
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: konradbaran
          password: ${{ secrets.DOCKER_HUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          platforms: linux/amd64,linux/arm64
          tags: konradbaran/restaurant-backend-wpz:latest
          cache-from: type=registry,ref=konradbaran/restaurant-backend-wpz:buildcache
          cache-to: type=registry,ref=konradbaran/restaurant-backend-wpz:buildcache,mode=max

